.contact-form {
    max-width: 600px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;

    input, textarea {
        border: none;
        outline: none;
        font-size: 0.9rem;
        color: $white;
        background: $blueDark2;
        border-radius: 5px;
        padding: 10px;
    }

    .send-btn {
        width: 120px;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 500;
        padding: 12px;
        text-transform: uppercase;
        cursor: pointer;
        background: $blue;

        &:hover {
            @extend %transition-hover;
        }
    }
}