@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 scroll-behavior: smooth;
  scroll-padding: 2rem;
  
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: $blueDark2;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $blue;
    border-radius: 20px;
    border: 3px solid $blueDark2;
  }

}

body {
  color: $white;
  background: $blueDark3;
}

img {
  width: 100%;
}

section {
  padding: 3rem 0 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 960px;
  margin: auto;
  width: 100%;
}
